<% @students.each do |student| %>
  <p><strong>Username: </strong><%= student.username %></p> 
  <p><strong>First Name: </strong><%= student.first_name %></p> 
  <p><strong>Last Name: </strong><%= student.last_name %></p> 
  <p><strong>Email: </strong><%= student.email %></p> 
  <br>
<% end %>
